* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

img	{
	width: 100%;
}

.main-image {
	max-width:200px;
}


.projects-container > div {
	width: 30%;
	margin-left: 1.66%;
	margin-right:  1.66%;
}

